@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@411&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav {
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    position: sticky;
    top: 0%;
    z-index: 1;
}

.nav a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.hero {
    display: flex;
    position: sticky;
    top: 0%;
    background-image: url(Butter-Noodles-S5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.head {
    display: flex;
    font-family: 'Ibarra Real Nova', serif;
    color: white;
    font-size: 25px;
    filter: blur(10px);
    width: 150px;
    height: 100px;
    transition: .7s;
}

.head h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head:hover {
    filter: blur(0);
    color: black;
    background-color: rgba(255, 255, 255, 0.258);
    border-radius: 20px;
    width: 300px;
    height: 250px;
    font-weight: 900;
}

.recipe {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 15px 200px;
    line-height: 2;
}

.titles {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight:400;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(36, 36, 36);
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.bookmark a {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.bookmark {
    transition: ease-in-out .3s;
}

.bookmark:hover {
    background-color: rgb(234, 211, 0);
    color: black;
    transform: scale(1.1);
}
   